html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body {
    font-family: 'Karla', sans-serif;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;


}
.flexcontainer {
	height:100vh;
	display: flex;
	align-items: stretch;
	flex-direction: column;
    padding: 0px 8vw;
}

#header {
    border-bottom: 2px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
}
#sections {
	display: flex;
	justify-content: center;
	flex-direction: column;
    flex-grow: 1;
}
section {
    border:1px dotted black;
    padding: 5px;
    margin: 5px 0px;
}

section#rc {
    flex-grow: 1;
}
.centerdiv {
}


#footer {
    border-top: 2px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
}

.large {  font-size: 1.3em; }
.caption {  font-size: 0.7em; }
.strong { font-weight: bold; }
